<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Info.plist
   ANSDK

   Created by Jose Cabal-Ugaz on 11/2/16.
   Copyright (c) 2016 AppNexus. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
